:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --font-color: #000000;
  --image-color: linear-gradient(71.9deg, #354c6282 -3.77%, #9e2b2b2b 92.46%);
  --hover-navbar: #000000be;
  --box-shadow: #00000033;
  --btn: #b20000;
  --btn-hover: #dd1515;
  --back-menu: #f3f3f3;
}

[data-theme='dark'] {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --font-color: #ffffff;
  --image-color: linear-gradient(71.9deg, #8cc8ffb6 -3.77%, #ff6d6d94 92.46%);
  --hover-navbar: #f0f0f0be;
  --box-shadow: #ffffff22;
  --btn: #db2a2a;
  --btn-hover: #fa3a3a;
  --back-menu: #1d1d1d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-2 {
  display: grid;
  grid-gap: 1em;
}

.grid-3 {
  display: grid;
  grid-gap: 1em;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  color: var(--font-color);
}

